<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reja</title>
  </head>
  <body style="background: #b8bbd1">
    <div class="container">
      <h1 style="text-align: center">REJA VA MAQSADLAR</h1>
      <form action="/create-item" method="POST">
        <div>
          <input
            type="text"
            id="create-field"
            name="item"
            autofocus
            autocomplete="off"
            class="form-control"
            style="flex: 1"
          />
          <button>Yangi Harid Qushish</button>
        </div>
      </form>
    </div>
  </body>
</html>
